body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5; 
  margin: 0;
  padding: 0;

  background-image: url('https://pngimg.com/d/paw_PNG14.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  max-height: 400px;
  margin-top: 20px;
  transition: transform 0.3s ease; 
}
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #b4cc8c; 
  padding: 20px;
  background-color: #ffffff; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
}

h1 {
  margin-top: 25px;
  color: #5c7f4c; 
  transition: color 0.3s ease;
} 

.search-section {
  margin-top: 10px; 
  transition: margin 0.3s ease; 
}

label {
  margin-right: 10px;
  color: #5c7f4c; 
}

select, button {
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

select:hover, button:hover {
  background-color: #95b87b; 
}

.dog-images {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  height: auto;
  border: 7px solid #b4cc8c; 
  margin-bottom: 10px;
}

